* {
    box-sizing: border-box;
    margin:  0px;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif !important;
  }
  
  body {
    font-family: sans-serif;
  }

  .HeaderStyle{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 40px 30px 10px 30px;
  }
 
  .MenuClass li{
    display: flex;
    list-style-type: none;
    padding-left: 40px;
  }
  .MenuClass ul{
    display: flex;
    
  }




  /* Body CSS */

.restaurant-list{
  width: auto;
  display: flex;
  flex-wrap: wrap;
 

}

.card{
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  cursor: pointer;

}

.card > img{
  width: 100%;
  border-radius: 10px;

}

.card > span > h4:first-child{
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}



.search-container{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 1%;
  justify-content: center;
  
}

 .search-input{
  padding: 10px 20px 10px 20px;
  border-radius: 0px;
}

.search-btn{
  padding: 10px 20px 10px 20px;
  border-radius: 0px;
}